.button{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: #828282;
}

.button:focused {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
/*    -fx-border-insets: 1 1 1 1, 0; */
}

.button:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.settings-dialog
{
	-fx-padding: 10;
}

.settings-control
{
	
}

.settings-control-label
{
	
}
settings-control-row{
	
	
}