pre{
	font-size: 0.6rem;
}

#tool-button-bar{
	margin-left: 30px;
	margin-top: 58px;
	
}

#tab-nav-section{
	padding-top: 3px;
	
}

.item-button{
	display: block;
	float: left;
	padding: 1px;
	margin: 1px;
	width: 3rem;
	text-align: center;
}

.item-button:hover{
	background-color: #dee2e6;
}

.position-relative{
	position: relative !important;
	
}

.hidden{
	display: none;
}

.superscript
{
	vertical-align: super;
	font-size: smaller;
}